@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swarp');
*{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat, sans-serif;
}

body{
    background-color: rgb(46, 46, 46) ;
}
.contenedor{
    background-color: rgb(46, 46, 46);
    display: grid;
}

.cabeza-titulo{
    background-color: rgb(26, 26, 26);
    padding: 20px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    font-size: 80%;
}

/*inicio de boton*/

.continer-boton, .botom, .nav{
    position: absolute;
}

.continer-boton{
    margin: auto;
    left: 84.4%;
    margin: 20px;
}

#toggle{
    display: none;
}

.botom::before{
    position: absolute;
    border-radius: 10px;
    top: 20px;
    left: 9px;
    content: "";
    width: 25px;
    height: 3px;
    background: #fff;
    transform: rotate(90deg);

}

.botom{
    z-index: 999;
    width: 43px;
    height: 43px;
    background: rgb(0, 0, 0);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.botom::after{
    position: absolute;
    border-radius: 10px;
    top: 20px;
    left: 9px;
    content: "";
    width: 25px;
    height: 3px;
    background: #fff;
}

.nav{
    z-index: -10;
    transform: translateY(-10%);
    opacity: 0;
    top: 5px;
    left: -150px;
    transition: all 0.5s ease-in-out;
    background: rgb(255, 255, 255);
    width: 200px;
    border-radius: 5px;
    transform: translateY(0%);
}

.nav a{
    text-align: center;
    display: block;
    margin: 20px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a{
    padding: 10px;
}

.nav a:hover{
    color: rgb(243, 97, 13);
}

#toggle:checked ~ .nav{
    opacity: 1;
    z-index: 998;
    transform: translateY(10%);
}


#toggle:checked ~ .botom{
    transform: rotate(135deg);
}

/*final de boton*/

.cabeza-foto{

    margin: 0px 10px 10px 10px;
    padding: 5px 10px 15px 10px;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 61, 2, 0.5) 0%, rgba(82, 37, 7, 0.3) 100%), url(/img/lap.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    display: grid;
    place-items: center;
}

.circle{
    background-color: rgb(29, 29, 29);
    border-radius: 100%;
    width: 130px;
    height: 130px;
    border: 10px solid rgb(243, 97, 13);
    display: grid;
    place-items: center;
    transition: 1s ease;
    transition-property: border, background-color;
}

.circle:hover{
    border: 10px solid rgb(170, 40, 0);
    background-color: black;
}

img{
    width: 75px;
    height: 75px;
}

h3{
    padding: 20px;
    color: #fff;
}

.descrip{
    padding: 30px 10px 10px 10px;
    color: #fff;
}

.servicio{
    text-align: center;
    margin: 0px 10px 10px 10px;
    padding: 0px;
}

.boton-servicio{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    background: none;
    padding: 30px;
    margin: 0px;
    border-radius: 10px;
    background-color: rgb(250, 93, 2);
    display: block;
    width: auto;
    transition: .5s ease background-color;
}

.boton-servicio:hover{
    color: #fff;
    background-color: rgb(109, 29, 5);
}

.contacto{
    background-color: rgb(255, 255, 255);
    margin: 0px 10px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.titulo-contacto{
    padding: 0px 0 15px 0;
    font-weight: bold;
    color: rgb(255, 81, 0);
    font-size: 1.2em;
}

.boton{
    text-decoration: none;
    padding: 15px 0px;
    margin: 1em;
    display: block;
    color: #fff;
    background-color: rgb(255, 72, 0);
    border-radius: 10em;
    transition: .5s ease;
    transition-property: color, background-color;
}

.boton:hover{
    display: block;
    color: #fff;
    background-color: rgb(41, 13, 6);
}

.final{
    display: grid;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 10px 10px 10px 10px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
}
