@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swarp');
*{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat, sans-serif;
}

body{
    background-color: rgb(46, 46, 46) ;
}

.contenservi{
    background-color: rgb(46, 46, 46);
    display: block;
}

.tituservi{
    background-color: rgb(26, 26, 26);
    padding: 7.5px;
    display: flex;
	place-items: center;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    font-size: 80%;
	width: auto;

}

.cerra{
    text-decoration: none;
    background: none;
    background-color: rgb(14, 14, 14);
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 15px;
    transition: .5s ease;
    transition-property: color, background-color, border-radius;
}

.cerra:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

.nomser{
    display: inline-flex;
	margin: auto;

}

.comen{
    display: grid;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 61, 2, 0.5) 0%, rgba(82, 37, 7, 0.3) 100%), url(/img/serv.jpg);
    padding: 80px 20px;
    margin: 0px 10px;
    color: #fff;
    border-radius: 10px;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.secc{
    background-color: rgb(255, 255, 255);
    display: block;
    place-items: center;
    padding: 40px 20px;;
    margin: 10px;
    border-radius: 10px;
    display: block;
    width: auto;

}

.boti{
    text-decoration: none;
    text-align: center;
    background: none;
    background-color: rgb(243, 97, 13);
    color: #fff;
    display: block;
    width: auto;
    place-items: center;
    padding: 60px 20px;
    margin: 10px 30px;
    border-radius: 10px;
    transition: .5s ease;
    transition-property: color, background-color;
}

.boti:hover {
    display: block;
    color: #fff;
    background-color: rgb(41, 13, 6)
}

.final-servicio {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 0px 10px 10px 10px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
}